*{
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

form {
  padding: 20px 25px;
  border-radius: 8px;
  width: 250px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}
